<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Prefetch the pages in the navigation menu -->
  {{ range where .Site.Pages "Section" "page" }}
    {{ if .Params.title }}
      <link rel="prefetch" href="{{ .Permalink }}">
    {{ end }}
  {{ end }}

  <title>
    {{ if .Params.title }} {{ .Params.title }} · {{ .Site.Title }} {{ else }} {{ .Site.Title }} · {{ .Site.Params.tagline }} {{ end }}
  </title>

  {{ $scss := resources.Get "scss/styles.scss" }}
  {{ $style := $scss | resources.ToCSS }}

  <link rel="stylesheet" href="{{$style.Permalink}}">

  {{ partial "style.html" . }}

  <!-- Icons -->
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/{{ .Site.Params.favicon_image }}">
  <meta name="msapplication-TileColor" content="{{ .Site.Params.color }}">
  <meta name="theme-color" content="{{ .Site.Params.color }}">

</head>

